.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    left: 30px;
    position: absolute;
    content: " ";
    width: 95%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #ecf0f5;
    border-bottom: 1px solid #eee;
}
.fixed-nav {
    background-color: #34495E;
    border-radius: 0;
    margin-bottom: 0;
}
.fixed-nav a {
    display: block;
    float: left;
    padding: 15px 15px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.3s;
}
.fixed-nav a:hover {
    background-color: #2C3E50;
}
.tableDetail label+span {
    vertical-align: middle;
    padding-left: 10px;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    min-width: 250px;
    vertical-align: middle;
    position: relative;
}
#table {
    padding-left: 20px;
    padding-right: 20px;
}