.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #428bca!important;
    color: #fff!important;
}
.pors .input-list,.pors .cate-list {
    top: 34px;
    left: 15px;
    position: absolute;
    z-index: 666;
    list-style: none;
    padding-left: 0;
    border: 1px solid #ccc;
    border-top: transparent;
    background-color: #fff;
}
.pors .input-list li,.pors .cate-list li {
    line-height: 32px;
    text-indent: 12px;
    border-bottom: 1px solid #ddd;
    color: #8a6d3b;
    font-size: 12px;
}
.pors .input-list li:hover,.pors .cate-list li:hover {
    background-color: #ECF0F1;
    cursor: pointer;
}
.pors .input-list li:hover,.pors .cate-list li:hover {
    background-color: #ECF0F1;
    cursor: pointer;
}
.paddingLeft {
    padding-left: 0;
}
.searchShadow {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.searchShadow:focus {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    border-color: #ccc;
}
.searchCompent {
    display: none;
}
.new-alert {
    line-height: 24px!important;
    padding-top: 5px!important;
    padding-bottom: 5px!important;
    margin-bottom: 0!important;
}