.tableInfo .item .well {
	height: 348px;
	transition: all 0.2s ease;
	box-shadow: none;
}
.tableInfo .item .well:hover {
	box-shadow: 0 6px 10px rgba(0,0,0,0.1);
}
.tableInfo .item .label+span {
	vertical-align: middle;
	padding-left: 5px;
	color: #777;
}
.modified .layui-layer-title {
	color: #3c763d;
	font-weight: 800;
	background-color: #dff0d8;
}
.modified .layui-layer-content {
	padding: 10px 40px;
	background-color: #f5f5f5;
}
.modified .layui-layer-content .form-control {
	border-radius: 0;
}
.modified .cate {
	position: relative;
}
.modified .cate ul {
	top: 59px;
	left: 0;
	position: absolute;
	width: 100%;
	list-style: none;
	padding-left: 0;
	border: 1px solid #ccc;
    border-top: transparent;
	background-color: #fff;
}
.modified .cate ul li {
	line-height: 32px;
	text-indent: 12px;
	border-bottom: 1px solid #ddd;
	color: #8a6d3b;
	font-size: 12px;
}
.modified .cate ul li:hover {
	background-color: #ECF0F1;
	cursor: pointer;
}
.pro {
	position: relative;
}
.pro ul {
	position: absolute;
	top: 34px;
	right: 0;
	z-index: 666;
	list-style: none;
	padding-left: 0;
	border: 1px solid #ccc;
    border-top: transparent;
	background-color: #fff;
}
.pro ul li {
	line-height: 32px;
	text-indent: 12px;
	border-bottom: 1px solid #ddd;
	color: #8a6d3b;
	font-size: 12px;
}
.pro ul li:hover {
	background-color: #ECF0F1;
	cursor: pointer;
}
.tableSelect .btn-group i {
	padding-right: 5px;
}
.modal.fade .modal-dialog {
	top: 50%;
	margin-top: -213px;
}

.stepwizard-step p {
	margin-top: 10px;
}
.stepwizard-row {
	display: table-row;
}
.stepwizard {
	display: table;
	width: 100%;
	position: relative;
}
.stepwizard-step button[disabled] {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
	top: 14px;
	bottom: 0;
	left: 30px;
	position: absolute;
	content: " ";
	width: 95%;
	height: 1px;
	background-color: #ccc;
	z-order: 0;
}
.stepwizard-step {
	display: table-cell;
	text-align: center;
	position: relative;
}
.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
}
.pors .input-list,.pors .cate-list {
	top: 34px;
	left: 15px;
	position: absolute;
	z-index: 666;
	list-style: none;
	padding-left: 0;
	border: 1px solid #ccc;
	border-top: transparent;
	background-color: #fff;
}
.pors .input-list li,.pors .cate-list li {
	line-height: 32px;
	text-indent: 12px;
	border-bottom: 1px solid #ddd;
	color: #8a6d3b;
	font-size: 12px;
}
.pors .input-list li:hover,.pors .cate-list li:hover {
	background-color: #ECF0F1;
	cursor: pointer;
}
.pors .input-list li:hover,.pors .cate-list li:hover {
	background-color: #ECF0F1;
	cursor: pointer;
}
.paddingLeft {
	padding-left: 0;
}
.searchShadow {
	box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.searchShadow:focus {
	box-shadow: 0 5px 15px rgba(0,0,0,0.2);
	border-color: #ccc;
}
.searchCompent {
	display: none;
}
.panel .form-control {
	border-radius: 0;
}
[v-cloak] {
	display: none;
}
.btn_footer{
	margin-top: 10px;
	margin-top: 10px;
}

/* info-temp-creat */
.stepwizard-step p {
	margin-top: 10px;
}
.stepwizard-row {
	display: table-row;
}
.stepwizard {
	display: table;
	width: 100%;
	position: relative;
}
.stepwizard-step button[disabled] {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
	top: 14px;
	bottom: 0;
	left: 30px;
	position: absolute;
	content: " ";
	width: 95%;
	height: 1px;
	background-color: #ccc;
	z-order: 0;
}
.stepwizard-step {
	display: table-cell;
	text-align: center;
	position: relative;
}
.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
}
.pors .input-list,.pors .cate-list {
	top: 34px;
	left: 15px;
	position: absolute;
	z-index: 666;
	list-style: none;
	padding-left: 0;
	border: 1px solid #ccc;
	border-top: transparent;
	background-color: #fff;
}
.pors .input-list li,.pors .cate-list li {
	line-height: 32px;
	text-indent: 12px;
	border-bottom: 1px solid #ddd;
	color: #8a6d3b;
	font-size: 12px;
}
.pors .input-list li:hover,.pors .cate-list li:hover {
	background-color: #ECF0F1;
	cursor: pointer;
}
.pors .input-list li:hover,.pors .cate-list li:hover {
	background-color: #ECF0F1;
	cursor: pointer;
}
.paddingLeft {
	padding-left: 0;
}
.searchShadow {
	box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.searchShadow:focus {
	box-shadow: 0 5px 15px rgba(0,0,0,0.2);
	border-color: #ccc;
}
.searchCompent {
	display: none;
}
.panel .form-control {
	border-radius: 0;
}
[v-cloak] {
	display: none;
}
.btn_footer{
	margin-top: 10px;
	margin-top: 10px;
}

/* model.html */
.Model .model-panel .form-control {
	border-radius: 0;
}
.Model .text-break {
	word-break: break-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* table-info */
.table-info .control-panel .form-control {
	border-radius: 0;
}
.table-info .changTable .modal-content {
	border-radius: 0;
	border: 0;
}
.table-info .changTable .form-control {
	border-radius: 0;
}
.table-info .sort-bg{
	background-color: #dff0d8;
}
.table-info .middle-col {
	max-width: 20px;
	line-height: 34px;
	padding-left: 0;
	padding-right: 0;
}
[v-cloak] {
	display: none;
}
#text-center{
	text-align: center;
}

/*选择模板*/
.table-info .tempList{
	text-align: center;
	padding: 5px;
	border: 1px solid #ccc;
	margin-bottom: 5px;
}
.table-info .selected{
	background-color: #ccc;
}
/* 下拉列表选择颜色 */
.gray {
	background-color: #ECF0F1;
}