.tableDetail .label {
    font-size: 90%;
}
.fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
    background-color: #ecf0f5;
    border-bottom: 1px solid #ccc;
}
.pullUP {
    color: #777;
    position: absolute;
    bottom: -26px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 26px;
    background-color: rgba(221, 221, 221, .8);
    text-align: center;
    line-height: 34px;
    cursor: pointer;
}
.pullDown {
    color: #777;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 26px;
    background-color: rgba(221, 221, 221, .8);
    text-align: center;
    line-height: 34px;
    cursor: pointer;
    z-index: 6;
}
#table {
    margin-top: 260px;
    margin-left: auto;
    margin-right: auto;
}
.handsontable td {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap !important;
}
.handsontable .htDimmed {
    color: #333;
}
.ht_clone_left .htCore  th,.ht_clone_left .htCore  td {
    background-color: #d9edf7;
    /*background-color: #c4d4e8;*/
}