<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>批量表模板启用</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--你自己的样式文件 -->
    <link href="css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="css/batch-temp-start.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">        
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>

    </style>
</head>
    <body>
        <div class="fixed-top">
            <!-- 顶部区域 -->
            <div class="container-fluid header-fluid-top">
                <div class="row">
                    <div class="container header-top">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12">
                                <a href="#">
                                    <img src="images/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 导航 -->
            <div class="container-fluid fixed-nav">
                <div class="container">
                    <a href="template-batch-list.html">批量表模板首页</a>
                    <log-component></log-component>
                </div>
            </div>
            <!-- 步骤 -->
            <div class="container marginTop">
                <div class="row">
                    <div class="well well-sm clearfix">
                        <div class="stepwizard col-md-12 ">
                            <div class="stepwizard-row setup-panel">
                                <div class="stepwizard-step">
                                    <a href="javascript:" type="button" class="btn btn-default btn-circle" disabled="disabled">1</a>
                                    <p>创建模板</p>
                                </div>
                                <div class="stepwizard-step">
                                    <a href="javascript:" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                                    <p>定义格式</p>
                                </div>
                                <div class="stepwizard-step">
                                    <a href="javascript:" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                                    <p>关联模板</p>
                                </div>
                                <div class="stepwizard-step">
                                    <a href="javascript:" type="button" class="btn btn-primary btn-circle">4</a>
                                    <p>确认启用</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <!-- 主内容区域 -->
        <div id="table" style="padding-top: 400px;width: 1200px;margin: auto">
            <div class="container-fluid">
                <div class="row">
                    <div>
                        <table class="table table-bordered">
                            <tr class="info">
                                <th v-show="temFormat">表头</th>
                                <th v-for="table in tempData" class="text-center" v-cloak>{{table.en_name}}</th>
                            </tr>
                            <tr>
                                <th v-show="temFormat">类型</th>
                                <td v-for="type in temFormat" class="text-center" v-cloak>{{type.data_type_code | dataType}}</td>
                            </tr>
                            <tr>
                                <th v-show="temFormat">长度</th>
                                <td v-for="num in temFormat" class="text-center" v-cloak>{{num.length}}</td>
                            </tr>
                            <tr>
                                <th v-show="temFormat">精度</th>
                                <td v-for="preciasion in temFormat" class="text-center" v-cloak>{{preciasion.preciasion}}</td>
                            </tr>
                            <tr>
                                <th v-show="temFormat">填写方式</th>
                                <td v-for="filling_type in temFormat" class="text-center" v-cloak>{{filling_type.filling_type | writeType}}</td>
                            </tr>
                            <tr>
                                <th v-show="temFormat">数据检查</th>
                                <td v-for="value_requlation in temFormat" class="text-center" v-cloak>{{value_requlation.value_requlation | ruleType}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="margin-top:100px;">
            <div class="row">
                <div v-show="!preType" class="col-md-12 text-center">
                    <button class="btn btn-default" @click="takeBack">撤销</button>
                    <button @click="getStart" :disabled="doneBtn" class="btn btn-success mL-15">确认启用</button>
                </div>
            </div>
        </div>

        <hr>
        <div class="container">
            <div class="row">
                <!-- <pre>{{$data|json}}</pre> -->
            </div>
        </div>

        <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
        <script src="js/jquery.js"></script>
        <script src="js/vue.js"></script>
        <script src="js/cookie.js"></script>
        <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
        <script src="js/bootstrap.min.js"></script>
        <script src='js/layer.js'></script>
        <!-- 检测登录状态 -->
        <script src='js/control.js'></script>
        <script src='js/serverUrl.js'></script>
        <script src='js/navTpl.js'></script>
        <script src='js/batch-temp-start.js'></script>
    </body>
</html>