<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>角色管理</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--你自己的样式文件 -->
    <link href="css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="css/group.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">        
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style></style>
</head>
    <body>
        <!-- 顶部区域 -->
        <div class="container-fluid header-fluid-top">
            <div class="row">
                <div class="container header-top">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <a href="#">
                                <img src="images/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 导航 -->
        <div class="navbar navbar-inverse nav-fluid-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand hidden-sm" href="javascript:">福克斯德</a>
                </div>
                <div class="navbar-collapse collapse" role="navigation">
                    <ul class="nav navbar-nav">
                        <nav-component></nav-component>
                    </ul>
                    <log-component></log-component>
                </div>
            </div>
        </div>

        <!-- 主内容区域 -->
        <div class="container-fluid marginTop content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-defaault">
                        <div class="panel-heading"><h4><b class="text-primary">角色管理</b></h4></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <ul id="myTab" class="nav nav-tabs" role="tablist" style="background-color: #fff;">
                        <li role="presentation">
                            <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="false">组织机构</a>
                        </li>
                        <li role="presentation">
                            <a href="#group" role="tab" id="group-tab" data-toggle="tab" aria-controls="group" aria-expanded="false">角色添加</a>
                        </li>
                        <li @click='getlist' role="presentation" class="active">
                            <a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="true">角色列表</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12 marginTop">
                    <div id="myTabContent" class="tab-content">
                        <!-- 角色在机构的位置 -->
                        <div role="tabpanel" class="tab-pane fade in" id="home" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <ul class="tree">
                                                    <item
                                                      class="item"
                                                      :model="son">
                                                    </item>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 树形目录 -->
                        <script type="text/x-template" id="item-template">
                            <li>
                                <div class="tree-node" :title="model.introduce">
                                    <span v-show="isFolder">
                                        <span class="fa fa-2x caret-ii fa-caret-right vertical" @click="toggle(model)" v-show="!open"></span>
                                        <span class="fa fa-2x caret-ii fa-caret-down vertical" @click="toggle(model)" v-show="open"></span>
                                    </span>
                                    <span class="selected vertical" @click="selected(model)" v-cloak>
                                        {{model.name}}
                                    </span>
                                </div>
                                <span v-for="roll in model.roles" class="selected vertical text-primary fa fa-user" @click="selected(model)" v-cloak>
                                    {{roll.rname}}
                                </span>
                                <ul v-show="open" v-if="isFolder">
                                    <item
                                        class="item"
                                        v-for="model in model.son"
                                        :model="model">
                                    </item>
                                </ul>
                            </li>
                        </script>
                        <!-- 角色添加 -->
                        <div role="tabpanel" class="tab-pane fade in" id="group" aria-labelledby="group-tab">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading "><h4 class="ft-16">角色添加</h4></div>
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <div class="form-horizontal">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">角色名称 <i class="text-red">*</i></label>
                                                        <div class="col-sm-5 col-md-5 col-lg-5">
                                                            <input type="text" v-model='addname' placeholder="输入中文名" class="form-control">
                                                        </div>
                                                        <div class="col-sm-4 col-md-4 col-lg-4">
                                                            <div class="alert alert-danger new-alert form-control" style="display: none;" v-show="addname_alert" role="alert"> 请输入中文名</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">所属机构 <i class="text-red">*</i></label>
                                                        <div class="col-sm-4 col-md-4 col-lg-4">
                                                            <div class="bootstrap-tagsinput height">
                                                                <span class="tag label label-info" v-for="org in orgSelect" v-cloak>
                                                                    {{org.name}}<span data-role="remove" @click="removeOrg(org)"></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-1 text-right">
                                                            <button class="btn btn-info btn-sm searchBtn" id="blurInputa">搜索</button>
                                                        </div>
                                                        <!--提示-->
                                                        <div class="col-sm-3 col-md-3 col-lg-3" id="org_alert">
                                                            <div class="alert alert-danger new-alert form-control" style="display:none" v-show="org_alert"  role="alert"> 请选择机构</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-4 col-md-offset-3 pors searchCompent">
                                                            <input type="text" class="form-control searchShadow searchCate goSearcha" id="searchFielda" placeholder="输入关键字搜索类目">
                                                            <ul class="cate-list" id="searchInputa">
                                                                <template v-for="one in oneList" v-if="$index<=9">
                                                                    <li @click="selectOne(one)" v-cloak>
                                                                        {{one.name}}
                                                                    </li>
                                                                </template>
                                                            </ul>
                                                        </div>
                                                        <div class="col-sm-1 text-right paddingLeft searchCompent">
                                                            <button class="btn btn-default closeBtn searchShadow">
                                                                <i class="fa fa-close"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 col-md-3 col-lg-3  control-label">角色说明:</label>
                                                        <div class="col-sm-5 col-md-5 col-lg-5">
                                                            <textarea v-model='addremark' class="form-control" cols="30" rows="5"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                                                        <button @click="addrole" class="btn btn-primary">添加</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 角色管理 -->
                        <div role="tabpanel" class="tab-pane active fade in" id="profile" aria-labelledby="profile-tab">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading"><h4 class="ft-16 ">角色列表</h4></div>
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <th class="text-center">序号</th>
                                                        <th class="text-center">角色名称</th>
                                                        <th class="text-center">所在机构</th>
                                                        <th class="text-center">角色备注</th>
                                                        <th class="text-center">角色状态</th>
                                                        <th class="text-center">操作</th>
                                                    </tr>
                                                    <template v-for="role in roledata" v-cloak>

                                                        <!-- 条件渲染 -->
                                                        <template v-if="$index%2==1">
                                                            <tr class="warning">
                                                                <td class="text-center">{{$index+1}}</td>
                                                                <td class="text-center">{{role.name}}</td>
                                                                <td class="text-center">{{role.org_name}}</td>
                                                                <td class="text-center">{{role.remark}}</td>
                                                                <td class="text-center">{{role.enabled |staFlilter}}</td>
                                                                <td class="text-center">
                                                                    <button class="btn btn-info btn-xs" @click="edit(role,$index)" >修改</button>
                                                                    <a :href="'Permissions.html'+'?id='+role.id" class="btn btn-xs btn-info" target="_blank">权限</a>
                                                                    <button @click="delerole(role)" class="btn btn-danger btn-xs">删除</button>
                                                                </td>
                                                            </tr>
                                                        </template>
                                                        <template v-else>
                                                            <tr>
                                                                <td class="text-center">{{$index+1}}</td>
                                                                <td class="text-center">{{role.name}}</td>
                                                                <td class="text-center">{{role.org_name}}</td>
                                                                <td class="text-center">{{role.remark}}</td>
                                                                <td class="text-center">{{role.enabled | staFlilter}}</td>
                                                                <td class="text-center">
                                                                    <button class="btn btn-info btn-xs" @click="edit(role,$index)" >修改</button>
                                                                    <a :href="'Permissions.html'+'?id='+role.id" class="btn btn-xs btn-info" target="_blank">权限</a>
                                                                    <button @click="delerole(role)" class="btn btn-danger btn-xs">删除</button>
                                                                </td>
                                                            </tr>
                                                        </template>
                                                    </template>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 编辑角色信息 -->
        <div class="modal editTable fade" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <h4 class="modal-title ft-16">编辑角色</h4>
                        <button type="button" @click="cancel" class="close close-positon"><span aria-hidden="true"><i class="fa fa-close text-red"></i></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-horizontal">
                                        <div class="form-group text-right line-height-34">
                                            <label class="col-sm-3 col-md-3 col-lg-3 ft-14 line-height-34">角色名称 <i class="text-red">*</i></label>
                                            <div class="col-sm-8 col-md-8 col-lg-8 ">
                                                <div class=" height">
                                                    <input type="text" class="form-control ft-14" v-model="editOne.name" placeholder="请输入角色名称">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group text-right line-height-34">
                                            <label class="col-sm-3 col-md-3 col-lg-3 ft-14 line-height-34">角色状态 <i class="text-red">*</i></label>
                                            <div class="col-sm-8 col-md-8 col-lg-8 ">
                                                <div class=" height">
                                                    <select class="form-control" v-model="editOne.enabled">
                                                        <option value="1">启用</option>
                                                        <option value="0">停用</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group text-right line-height-34">
                                            <label class="col-sm-3 col-md-3 col-lg-3 ft-14 line-height-34">所属机构 <i class="text-red">*</i></label>
                                            <div class="col-sm-6 col-md-6 col-lg-6 ">
                                                <div class="bootstrap-tagsinput height text-left">
                                                    <span class="tag label label-info" v-for="orgd in orgds" v-cloak>
                                                        {{orgd.name}}<span data-role="remove" @click="removeOrgd(orgd)"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <button class="btn btn-info btn-sm searchBtn" id="blurInput">搜索</button>
                                            </div>
                                        </div>
                                      <!--  搜索框-->
                                        <div class="form-group">
                                            <div class="col-sm-6 col-md-6 col-lg-6 pors searchCompent col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
                                                <input type="text" class="form-control searchShadow searchCate goSearch" placeholder="输入关键字搜索类目" id="searchField">
                                                <ul class="cate-list" id="searchInput">
                                                    <template v-for="one in oneList" v-if="$index<=9">
                                                        <li @click="selectOned(one)">
                                                            {{one.name}}
                                                        </li>
                                                    </template>
                                                </ul>
                                            </div>
                                            <div class="col-sm-2 col-md-2 col-lg-2 text-left paddingLeft searchCompent">
                                                <button class="btn btn-default closeBtn searchShadow">
                                                    <i class="fa fa-close"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <!--  搜索框-->
                                        <div class="form-group text-right line-height-34">
                                            <label class="col-sm-3 col-md-3 col-lg-3 ft-14 line-height-34">角色备注 <i class="text-red"></i></label>
                                            <div class="col-sm-8 col-md-8 col-lg-8 ">
                                                <div class=" height">
                                                    <textarea v-model="editOne.remark" class="form-control" cols="30" rows="5" ></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="form-group">
                                            <label class="col-md-2 control-label">角色名称</label>
                                            <div class="col-md-8">
                                                <input type="text" v-model='editOne.name' placeholder="角色名称" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">角色状态</label>
                                            <div class="col-sm-3">
                                                <select class="form-control" v-model="editOne.enabled">
                                                    <option value="1">启用</option>
                                                    <option value="0">停用</option>
                                                </select>
                                            </div>
                                        </div>-->
                                     <!--   <div class="form-group">
                                            <label class="col-sm-2 control-label"><span class="text-red">*</span>所属机构</label>
                                            <div class="col-sm-8">
                                                <div class="bootstrap-tagsinput height">
                                                    <span class="tag label label-info" v-for="orgd in orgds" v-cloak>
                                                        {{orgd.name}}<span data-role="remove" @click="removeOrgd(orgd)"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <button class="btn btn-info btn-sm searchBtn">搜索</button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-8 pors searchCompent col-sm-offset-2">
                                                <input type="text" class="form-control searchShadow searchCate " placeholder="输入关键字搜索类目">
                                                <ul class="cate-list">
                                                    <template v-for="one in oneList" v-if="$index<=9">
                                                        <li @click="selectOned(one)">
                                                            {{one.name}}
                                                        </li>
                                                    </template>
                                                </ul>
                                            </div>
                                            <div class="col-sm-1 text-left paddingLeft searchCompent">
                                                <button class="btn btn-default closeBtn searchShadow">
                                                    <i class="fa fa-close"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">角色备注</label>
                                            <div class="col-sm-8">
                                                <textarea v-model="editOne.remark" class="form-control" cols="30" rows="5" ></textarea>
                                            </div>
                                        </div>  -->

                                    </div>
                                  <!--  <div class="col-sm-12 col-md-12 col-lg-12 text-center mT-footer">
                                        <button @click="subrole" class="btn btn-info">保存</button>
                                        <button @click="cancel" class="btn btn-default">取消</button>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button @click="subrole" class="btn btn-primary">保存</button>
                        <button @click="cancel" class="btn btn-default">取消</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <hr>
                <!-- <pre>{{$data|json}}</pre> -->
            </div>
        </div>

        <!-- 页脚 -->
        <div class="container-fluid footer-fluid">
            <div class="contaier">
                <div class="row">
                    <div class="col-lg-12">
                        © All rights reserved 深圳福克斯德信息咨询有限公司
                    </div>
                </div>
            </div>
        </div>

        <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
        <script src="js/jquery.js"></script>
        <script src="js/vue.js"></script>
        <script src="js/cookie.js"></script>
        <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
        <script src="js/bootstrap.min.js"></script>
        <script src='js/layer.js'></script>
        <!-- 检测登录状态 -->
        <script src='js/control.js'></script>
        <script src='js/serverUrl.js'></script>
        <script src='js/navTpl.js'></script>
        <script src='js/group.js'></script>
    </body>
</html>