<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>编辑已添加的模板</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--你自己的样式文件 -->
    <link href="css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="css/template-edit.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">        
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
    <body>
        <!-- 顶部区域 -->
        <div class="container-fluid header-fluid-top">
            <div class="row">
                <div class="container header-top">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <a href="#">
                                <img src="images/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 导航 -->
        <div class="navbar navbar-inverse nav-fluid-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand hidden-sm" href="javascript:" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'navbar-首页'])">福克斯德</a>
                </div>
                <div class="navbar-collapse collapse" role="navigation">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="##" data-toggle="dropdown" class="dropdown-toggle">图片库<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="pic-category.html">图片库</a></li>
                                <li><a href="pic-trash.html">回收站</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="##" data-toggle="dropdown" class="dropdown-toggle">产品资料<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="template.html">产品资料表模板</a></li>
                                <li><a href="Table-info.html">产品资料表</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="##" data-toggle="dropdown" class="dropdown-toggle">批量表<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="template-batch-list.html">批量表模板</a></li>
                                <li><a href="Table-batch.html">批量表</a></li>
                            </ul>
                        </li>
                        <li class="hidden-sm hidden-md"><a href="admin-category.html" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'v2doc'])">分类管理</a></li>
                        <li class="hidden-sm hidden-md"><a href="customer.html"  onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'v3doc'])">客户管理</a></li>
                        <li><a href="upcUpload.html" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'v4doc'])">UPC</a></li>
                        <li class="dropdown">
                            <a href="##" data-toggle="dropdown" class="dropdown-toggle">系统<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="partition.html">数据库分区</a></li>
                                <li><a href="Searchlog.html">日志</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <!-- 主内容区域 -->

        <!-- 模板信息区域 -->
        <div class="container temp-info">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="well">
                        <!-- 修改模板信息 -->
                        <h3 class="text-success">修改模板信息</h3>
                        <form class="temp-info-xg">
                            <div class="form-group">
                                <label class="text-warning">模板名称</label>
                                <input type="text"  class="form-control cn-name" placeholder="输入模板中文名称">
                                <input type="text"  class="form-control en-name" placeholder="输入模板英文名称">
                            </div>
                            <div class="form-group tempCate">
                                <label class="text-warning">所属分类</label>
                                <input type="text" placeholder="不填写则为全局模板" class="form-control temp-belong">
                                <ul class="cateList"></ul>
                            </div>
                            <div class="form-group">
                                <label class="text-warning">模板说明</label>
                                <textarea class="form-control remark" rows="2"></textarea>
                            </div>
                            <button class="btn btn-success btn-xg" onclick="return false">修改</button>
                        </form>
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-6">
                    <div class="well">
                        <!-- 模板的信息 -->
                        <h3 class="text-success">模板信息</h3>
                        <div class="temp-info-save clearfix">
                            <hr>
                            <h4 class="text-warning temp-info-name">{{value.cn_name}} <small>{{value.en_name}}</small></h4>
                            <p>
                                <span class="label label-success">模板类目</span>
                                <span class="text-muted temp-cate">{{value.category_name}}</span>
                            </p>
                            <p>
                                <span class="label label-success">模板说明</span>
                                <p class="text-muted temp-info-remark">{{value.remark}}</p>
                            </p>
                            <p>
                                <span class="label label-success">创建日期</span>
                                <span class="text-muted date">{{value.created_time}}</span>
                            </p>
                            <p>
                                <span class="label label-success">修改日期</span>
                                <span class="text-muted date">{{value.modified_time}}</span>
                            </p>
                            <p>
                                <input type="hidden" name="category_id" value="" class="temp-info-id" >
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- <pre>{{$data|json}}</pre> -->
        </div>

        <!-- 生成模板区域 -->
        <div class="container temp-edit">
            <div class="row">
                <div class="col-lg-10 col-md-10">
                        <table class="table table-bordered text-warning">
                            <tr>
                                <th style="width:70px;">排序</th>
                                <th>中文名</th>
                                <th>英文名</th>
                                <th>默认值</th>
                                <th>类型</th>
                                <th>操作</th>
                            </tr>
                            <tr>
                                <td v-if="!table" colspan="5">暂无数据请添加数据</td>
                            </tr>
                            <tr v-for="todo in table">
                                <th class="temp-index text-middle">
                                    <input type="number" min="1" v-model="todo.no" class="form-control text-center editTemp-id" style="width:70px;">
                                </th>
                                <td class="cn-name">
                                    <input type="text" class="form-control" name="cn_name" v-model="todo.cn_name" >
                                </td>
                                <td class="en-name">
                                    <input type="text" class="form-control" name="en_name" v-model="todo.en_name">
                                </td>
                                <td>
                                    <input type="text" class="form-control" v-model="todo.default_value">
                                </td>
                                <td>
                                    <span style="color:#555;">{{todo.data_type_code|dataType}}</span>
                                </td>
                                <td class="delete">
                                    <i class="fa fa-2x fa-trash-o text-danger"></i>
                                    <input type="hidden" v-model="todo.id" >
                                </td>
                            </tr>
                        </table>
                        <div class="form-inline">
                            <button v-on:click="send" class="btn btn-success btn-submit">提交保存</button>
                        </div>
                </div>
                <div class="col-md-2">
                    <button v-show="!table" @click="creatMB" class="btn btn-sm btn-success">生成默认模板</button>
                    <a type="button" class="btn btn-sm btn-success btn-add" target="_blank" >去添加</a>
                </div>
            </div>
            <hr>
            <pre>{{$data|json}}</pre>
        </div>
        
        <!-- 页脚 -->
        <div class="container-fluid footer-fluid">
            <div class="contaier">
                <div class="row">
                    <div class="col-lg-12">
                        © All rights reserved 深圳福克斯德信息咨询有限公司
                    </div>
                </div>
            </div>
        </div>
        <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
        <script src="js/jquery.js"></script>
        <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
        <script src="js/bootstrap.min.js"></script>
        <script src="js/vue.js"></script>
        <script src='js/layer.js'></script>
        <script src='js/temp-editAgain.js'></script>
    </body>
</html>