<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>VueTable</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<style>
		.well {
			margin-top: 50px;
		}
	</style>
</head>
<body>
	<!-- component template -->
	<script type="text/x-template" id="grid-template">
		<div class="container-fluid">
			<div class="row">
				<div class="well well-sm">
					<table class="table table-bordered">
						<thead>
						    <tr>
						    	<th v-for="key in columns">
						    	    {{key | capitalize}}
						    	</th>
						    </tr>
						</thead>
						<tbody>
				    		<tr v-for="
				    		    entry in data
				    		    | filterBy filterKey
				    		    | orderBy sortKey sortOrders[sortKey]">
				    		    <td v-for="key in columns">
				    		        {{entry[key]}}
				    		    </td>
				    		</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</script>

	<!-- demo root element -->
	<div id="table">
		<demo-grid
		:data="gridData"
		:columns="gridColumns"
		:filter-key="searchQuery">
		</demo-grid>
	</div>
	<pre>{{$data|json}}</pre>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/vue.js"></script>
<script>
	// register the grid component
	Vue.component('demo-grid', {
	  template: '#grid-template',
	  props: {
	    data: Array,
	    columns: Array,
	    filterKey: String
	  },
	  data: function () {
	    var sortOrders = {}
	    this.columns.forEach(function (key) {
	      sortOrders[key] = 1
	    })
	    return {
	      sortKey: '',
	      sortOrders: sortOrders
	    }
	  }
	})

	// bootstrap the demo
	var demo = new Vue({
	  el: '#table',
	  data: {
	    searchQuery: '',
	    gridColumns: ['name', 'power'],
	    gridData: [
	      { name: 'Chuck Norris', power: Infinity },
	      { name: 'Bruce Lee', power: 9000 },
	      { name: 'Jackie Chan', power: 7000 },
	      { name: 'Jet Li', power: 8000 }
	    ]
	  }
	})
</script>	
</body>
</html>