<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>优惠券</title>
    <!-- 引入的框架 -->
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="../../font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/layer.css">
    <!-- 自定义 -->
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/index.css">
    <style>
        .coupon-border{
         border: 1px solid #CCCCCC;
            border-radius: 10px;
        }
        .header-Mt{
            margin-top: 20px;
        }
        .details{
            padding: 10px 20px ;
        }
        .title{
            border-bottom: 1px solid #ccc;
            padding-bottom: 5px;
            margin-bottom: 20px;
        }
        .publish{

        }
        .coupon .text-center{
            text-align: center;
        }
        .bg-white{
            background-color: #fff;
        }
        [v-cloak]{
            display: none;
        }
        .line-height-3rem{
            line-height: 3rem;
        }
        textarea{
            text-indent: 2em;
        }
    </style>
</head>
<body>
<div class="coupon">
    <!-- 顶部区域 -->
    <div class="container-fluid header-fluid-top">
        <div class="row">
            <div class="container header-top">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <a href="#">
                            <img src="../images/logo.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 导航 -->
    <div class="navbar navbar-inverse nav-fluid-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand hidden-sm" href="javascript:"><福克斯德></福克斯德></a>
            </div>
            <div class="navbar-collapse collapse" role="navigation">
                <ul class="nav navbar-nav " v-cloak>
                    <nav-component></nav-component>
                </ul>
                <log-component></log-component>
            </div>
        </div>
    </div>

    <div class="container-fluid coupon-content coupon-border bg-white">
        <h3 class=" row bg-success header-Mt">优惠券详情</h3>
        <div class="details">
            <div class="title">优惠券发行</div>
            <div class="publish row line-height-3rem">
                <div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right ">优惠券名称</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 " v-cloak>{{batchList.name}}</div>
                    </div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">优惠券类型</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 " v-cloak>{{batchList.type_msg}}</div>
                    </div>
                </div>
                <div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">状态</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 " v-cloak>{{batchList.issuant_status_msg}}</div>
                    </div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">最低消费金额</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 " v-cloak>{{batchList.min_amount}}</div>
                    </div>
                </div>
                <!--<div class="col-md-12">
                    <label class="col-sm-2 col-md-2 col-lg-2 text-right">发行数量</label>
                    <div class="col-sm-10 col-md-10 col-lg-10 " v-cloak>{{batchList.issuant_amount}}</div>
                </div>-->
                <div>
                    <div class="col-md-6">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">发行数量</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 " v-cloak>{{batchList.issuant_amount}}</div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">面值</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 " v-cloak>{{batchList.denomination}}</div>
                    </div>
                </div>
                <div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">价格</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 " v-cloak>{{batchList.price}}</div>
                    </div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">单次使用</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 " v-cloak>{{batchList.restriction_amount}}张</div>
                    </div>
                </div>
                <div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">发行人</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 " v-cloak>{{batchList.creator_id_msg}}</div>
                    </div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">有效期限</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 " v-cloak>{{batchList.validity_begin}}至{{batchList.validity_end}}止</div>
                    </div>
                </div>
                <div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">发行时间</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 " v-cloak>{{batchList.created_time}}</div>
                    </div>
                </div>
                <div class="col-md-12 ">
                    <label class="col-sm-2 col-md-2 col-lg-2 text-right">备注说明</label>
                    <div class="col-sm-10 col-md-10 col-lg-10 " v-cloak>{{batchList.remark}}</div>
                </div>
            </div>
        </div>
        <!--发放-->
        <div class="details" v-show="list.status>=1">
            <div class="title">优惠券发放 <!--<span>收缩</span>--></div>
            <!-- 发放表单 -->
            <div  v-show="list.status==1" class="container-fluid ">
                <div class="row form-horizontal col-md-12 ">
                    <div class="form-group text-right ">
                            <label class="col-sm-3 col-md-3 col-lg-3 text-right">优惠券码</label>
                            <div class="col-sm-3 col-md-3 col-lg-3 text-left" v-cloak>{{list.code}}</div>
                            <label class="col-sm-2 col-md-2 col-lg-2 text-right" >券码状态</label>
                            <div class="col-sm-4 col-md-4 col-lg-4 text-left" v-cloak>{{list.status_msg}}</div>
                    </div>
                </div>

                <div class="row form-horizontal">
                    <div class="form-group text-right">
                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">淘宝订单号 <i class="red">*</i></label>
                        <div class="col-sm-4 col-md-4 col-lg-4 ">
                            <div class="bootstrap-tagsinput height">
                                <input type="text" class="form-control ft-14" v-model="grant.orderId" placeholder="请输入订单号">
                            </div>
                        </div>
                        <div class="col-sm-5 col-md-5 col-lg-5 red text-left" style="display: none" v-show="isGrant.orderId">
                            订单号不能为空，或者格式不正确
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">交易发放时间 <i class="red">*</i></label>
                        <div class="col-sm-4 col-md-4 col-lg-4 ">
                            <div class="bootstrap-tagsinput height">
                                <input size="16" v-model="grant.time" class="form-control date" type="text" readonly  placeholder=""/>
                            </div>
                        </div>
                        <div class="col-sm-5 col-md-5 col-lg-5 red text-left" style="display: none" v-show="isGrant.time">
                            请添加时间
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">登记人姓名 <i class="red">*</i></label>
                        <div class="col-sm-4 col-md-4 col-lg-4 ">
                            <div class="bootstrap-tagsinput height">
                                <input type="text" class="form-control ft-14" v-model="grant.name" placeholder="请输入客户名称">
                            </div>
                        </div>
                        <div class="col-sm-5 col-md-5 col-lg-5 red text-left" style="display: none" v-show="isGrant.name">
                            姓名不能为空
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">联系电话 <i class="red">*</i></label>
                        <div class="col-sm-4 col-md-4 col-lg-4 ">
                            <div class="bootstrap-tagsinput height">
                                <input type="tel" class="form-control ft-14" v-model="grant.tel" placeholder="请输入客户联系电话">
                            </div>
                        </div>
                        <div class="col-sm-5 col-md-5 col-lg-5 red text-left" style="display: none" v-show="isGrant.tel">
                            联系电话不能为空,或者格式不正确
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">电子邮件 <i class="red">*</i></label>
                        <div class="col-sm-4 col-md-4 col-lg-4 ">
                            <div class="bootstrap-tagsinput height">
                                <input type="email" class="form-control ft-14" v-model="grant.email" placeholder="请输入客户电子邮件">
                            </div>
                        </div>
                        <div class="col-sm-5 col-md-5 col-lg-5 red text-left" style="display: none" v-show="isGrant.email">
                            邮箱地址不能为空,或者格式不正确
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                        <button type="button" class="btn btn-primary" @click="grantData()">发放</button>
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" >作废</button>
                        <button type="button" class="btn btn-default" @click="goBack(0)">返回</button>

                    </div>
                </div>
            </div>
            <!-- 发放信息 -->
            <div v-show="list.status>1" class="publish line-height-3rem row">
                <div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">优惠券码</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 " v-cloak>{{list.code}}</div>
                    </div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">券码状态</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 " v-cloak>{{list.status_msg}}</div>
                    </div>
                </div>
                <div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">淘宝订单号</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 " v-cloak>{{list.order_no}}</div>
                    </div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">交易发放时间</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 " v-cloak>{{list.granted_date}}</div>
                    </div>
                </div>

                <div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">登记人姓名</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 " v-cloak>{{list.holder}}</div>
                    </div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">联系电话</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 " v-cloak>{{list.holder_telephone}}</div>
                    </div>
                </div>
                <div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">邮箱地址</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 " v-cloak>{{list.holder_email}}</div>
                    </div>
                </div>
            </div>

        </div>
        <!-- 使用 -->
        <div  class="details" v-show="list.status>=2">
            <div class="title">优惠券使用</div>
            <!-- 使用表单 -->
            <div v-show="list.status==2" class="container-fluid ">
                <div class="row form-horizontal">
                    <div class="form-group text-right">
                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">使用人姓名 <i class="red">*</i></label>
                        <div class="col-sm-4 col-md-4 col-lg-4 ">
                            <div class="bootstrap-tagsinput height">
                                <input type="text" class="form-control ft-14" v-model="use.name" placeholder="请输入姓名">
                            </div>
                        </div>
                        <div class="col-sm-5 col-md-5 col-lg-5 red text-left" style="display: none" v-show="isUse.name">
                                使用人不能为空
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">联系电话<i class="red">*</i></label>
                        <div class="col-sm-4 col-md-4 col-lg-4 ">
                            <div class="bootstrap-tagsinput height">
                                <input type="tel" class="form-control ft-14" v-model="use.tel" placeholder="请输入客户联系电话">
                            </div>
                        </div>
                        <div class="col-sm-5 col-md-5 col-lg-5 red text-left" style="display: none" v-show="isUse.tel">
                                联系电话不能为空，或者格式不正确
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">电子邮件<i class="red">*</i></label>
                        <div class="col-sm-4 col-md-4 col-lg-4 ">
                            <div class="bootstrap-tagsinput height">
                                <input type="email" class="form-control ft-14" v-model="use.email" placeholder="请输入客户电子邮件">
                            </div>
                        </div>
                        <div class="col-sm-5 col-md-5 col-lg-5 red text-left" style="display: none" v-show="isUse.email">
                            邮箱不能为空，或者格式不正确
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">使用时间 <i class="red">*</i></label>
                        <div class="col-sm-4 col-md-4 col-lg-4 ">
                            <div class="bootstrap-tagsinput height">
                                <input size="16" v-model="use.time" class="form-control date" type="text" readonly  placeholder=""/>
                            </div>
                        </div>
                        <div class="col-sm-5 col-md-5 col-lg-5 red text-left" style="display: none" v-show="isUse.time">
                                交易时间不能为空，或者不在优惠券有效期限内
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                        <button type="button" class="btn btn-primary" @click="useData()">使用</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" @click="goBack(0)">返回</button>

                    </div>
                </div>
            </div>
            <!-- 使用信息 -->
            <div  v-show="list.status>2&&list.status<=6 && list.consumer" class="line-height-3rem publish row">
                <div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">使用人姓名</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 " v-cloak>{{list.consumer}}</div>
                    </div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">联系电话</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 " v-cloak>{{list.consumer_telephone}}</div>
                    </div>
                </div>
                <div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">邮箱地址</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 " v-cloak>{{list.consumer_email}}</div>
                    </div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">使用日期</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 " v-cloak>{{list.consume_date}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="details" v-show="list.status>=3">
            <!-- 审核表单 -->
            <div v-show="list.status==3 && !list.auditl" class="container-fluid ">
                <div class="row form-horizontal ">
                    <div class="form-group text-right" >
                        <label class="col-sm-2 col-md-2 col-lg-2 control-label">审核意见 </label>
                        <div class="form-group text-right col-md-6">
                            <label class="col-sm-2 control-label" for="ds-10" >通过</label>
                            <div class="col-sm-1">
                                <input class="form-control control-label" id="ds-10" type="radio"  value="4"  v-model="checks.picked" checked />
                            </div>
                            <label class="col-sm-2 control-label" for="ds-11" >不通过</label>
                            <div class="col-sm-1">
                                <input class="form-control control-label" id="ds-11" type="radio"  value="6" v-model="checks.picked" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <label class="col-sm-2 col-md-2 col-lg-2 control-label">审核说明</label>
                        <div class="col-sm-6 col-md-6 col-lg-6 ">
                            <div class="bootstrap-tagsinput height">
                                <textarea name="" id="" cols="100" rows="3"  v-model="checks.remark" placeholder=""></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                        <button type="button" class="btn btn-primary" @click="checkData()">审核</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" @click="goBack(0)">返回</button>
                    </div>
                </div>
            </div>
            <!-- 审核信息 -->
            <div v-show="list.status>3 && list.status<=6" class="line-height-3rem publish row">
                <div v-show="list.status==4">
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">审核结果</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 "> {{list.status_msg}}</div>
                    </div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">审核日期</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 "> {{list.modified_time}}</div>
                    </div>
                    <div class="col-md-12 " >
                        <label class="col-sm-2 col-md-2 col-lg-2 text-right">备注说明</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 " v-cloak>{{list.remark}}</div>
                    </div>
                </div>
                <div v-show="list.status==6" >
                    <div class="col-md-12 ">
                        <label class="col-sm-2 col-md-2 col-lg-2 text-right">备注说明</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 " v-cloak>本优惠券于{{list.modified_time}}，由操作员{{batchList.creator_id_msg}}手动执行作废操作</div>
                    </div>
                    <div class="col-md-12 ">
                        <label class="col-sm-2 col-md-2 col-lg-2 text-right">作废原因</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 " v-cloak>{{list.remark}}</div>
                    </div>
                 </div>
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-default" data-dismiss="modal" @click="goBack(1)">返回</button>
                </div>
            </div>

        </div>
    </div>
    <!--作废原因-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">作废优惠券</h4>
                </div>
                <div class="modal-body container-fluid ">
                    <div class="row form-horizontal">
                       <div class="col-md-12 margin-bot-ten" >作废的原因:</div>
                        <textarea name="" rows="3"  v-model="remark" placeholder="" class="col-md-10 col-md-offset-1"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="void">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- 引入框架 -->
<script src="../assets/js/vue.js"></script>
<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/cookie.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/bootstrap-datetimepicker.modify.js"></script>
<script src="../assets/js/layer.js"></script>

<!-- 检测登录状态 -->
<script src='../../js/control.js'></script>
<script src='../../js/serverUrl.js'></script>
<script src='../js/navTpl.js'></script>
<!-- 自定义js -->
<script src="../js/coupon.js"></script>
<!-- 检测登录状态 -->
<!-- <script src="../../js/cookie.js"></script>
 <script src='../../js/control.js'></script>
 <script src='../../js/serverUrl.js'></script>-->

</body>
</html>