<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <title>优惠券</title>
    <!-- 引入的框架 -->
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/layer.css">
    <!-- 自定义 -->
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../css/index.css">
    <style>
        .nav-title div:nth-child(1){
            background-color: #23527c;
        }
        .form-group .text-left{
            text-align: left;
        }
        #myModal .modal-footer{
            text-align: center;
        }
        .wraper{
            width: 1200px;
            margin: 0 auto;
            line-height: 3rem;
            border: 1px solid #CCCCCC;
            margin-bottom: 20px;
            border-radius: 10px;
        }
        .wraper-footer{
            padding-top: 20px;
            padding-bottom: 10px;
        }
        .bg-white{
            background-color: #fff;
        }
        .coupon-content{
            width: 100%;
        }
        .coupon-list{
            margin: 20px 10px;
        }
        .coupon-content table>tbody>tr>th{
            padding: 10px;
        }
        .coupon-content table>tbody>tr>td{
            padding: 4px;
            vertical-align: middle;
        }
        .btns{
            display: flex;
        }
        .btns div{
            flex: 1;
        }
    </style>
</head>
<body>


    <div class="coupon">
        <!-- 顶部区域 -->
        <div class="container-fluid header-fluid-top">
            <div class="row">
                <div class="container header-top">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <a href="#">
                                <img src="../images/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 导航 -->
        <div class="navbar navbar-inverse nav-fluid-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand hidden-sm" href="javascript:"><福克斯德></福克斯德></a>
                </div>
                <div class="navbar-collapse collapse" role="navigation">
                    <ul class="nav navbar-nav " v-cloak>
                        <nav-component></nav-component>
                    </ul>
                    <log-component></log-component>
                </div>
            </div>
        </div>

        <div class="coupon-content ">
            <div class="wraper container-fluid bg-white">
                <h3 class="bg-success row">优惠券详情</h3>
                <div class="row">
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">优惠券名称</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 ">{{batchList.name}}</div>
                    </div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">优惠券类型</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 ">{{batchList.type_msg}}</div>
                    </div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">状态</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 ">{{batchList.issuant_status_msg}}</div>
                    </div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">最低消费金额</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 ">{{batchList.min_amount}}</div>
                    </div>
                    <div class="col-md-12">
                        <label class="col-sm-2 col-md-2 col-lg-2 text-right">数量</label>
                        <div class="col-sm-10 col-md-10 col-lg-10 ">{{batchList.issuant_amount}}</div>
                    </div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">面值</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 ">{{batchList.denomination}}</div>
                    </div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">价格</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 ">{{batchList.price}}</div>
                    </div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">单次使用</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 ">{{batchList.restriction_amount}}</div>
                    </div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">有效期限</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 ">{{batchList.validity_begin}}至{{batchList.validity_end}}止</div>
                    </div>
                    <div class="col-md-12 ">
                        <label class="col-sm-2 col-md-2 col-lg-2 text-right">备注说明</label>
                        <div class="col-sm-10 col-md-10 col-lg-10 ">{{batchList.remark}}</div>
                    </div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">发行人</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 ">{{batchList.creator_id_msg}}</div>
                    </div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">发行时间</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 ">{{batchList.created_time}}</div>
                    </div>
                </div>
                <div class="row" style="border-top: 1px solid #ccc">

                    <div class="col-md-4">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">制作</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 ">{{batchList.group_status[1].num}}</div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">发放</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 ">{{batchList.group_status[2].num}}</div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">使用</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 ">{{batchList.group_status[3].num}}</div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">审核通过</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 ">{{batchList.group_status[4].num}}</div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">过期</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 ">{{batchList.group_status[5].num}}</div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">作废</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 ">{{batchList.group_status[6].num}}</div>
                    </div>
                </div>
                <div class="wraper-footer text-center">
                    <button
                            class="btn btn-info"
                            v-show=" batchList.issuant_status=='4'||batchList.issuant_status=='2'||batchList.issuant_status=='3'"
                            data-toggle="modal" data-target="#myModalA">作废</button>
                    <button class="btn btn-danger" v-show="batchList.issuant_status=='1'" @click="voids()">删除</button>
                    <button class="btn btn-default" @click="goBack">返回</button>
                </div>
            </div>
            <div class="panel-success container-fluid bg-white">
                <h3 class="row panel-heading">操作</h3>
                <div class="row panel-body ">
                    <div class="col-md-1">
                        <select class=" form-control" style="width: 60%"  v-model="sel" @change="selected(sel)">
                            <option value="">所有</option>
                            <option value="1">制作</option>
                            <option value="2">发放</option>
                            <option value="3">使用</option>
                            <option value="4">审核通过</option>
                            <option value="5">过期</option>
                            <option value="6">作废</option>
                        </select>
                    </div>
                    <div class="col-md-3 form-horizontal">
                        <label class="control-label col-md-4">输入优惠券号</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" v-model="search">
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-default" @click="searched()">搜索</button>

                    </div>
                </div>
            </div>

            <div class="coupon-list bg-white">
                <div class="panel-success">
                    <h3 class="panel-heading">优惠券的详情</h3>
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <tr class="success text-success">
                               <th ><input type="checkbox" v-model="allChecked"> 全选</th>
                                <th>序号</th>
                               <th>优惠券码</th>
                               <th>状态</th>
                               <th>发放日期</th>
                               <th>登记人</th>
                                <th>登记人电话</th>
                               <th>使用日期</th>
                               <th>使用人</th>
                               <th>使用人电话</th>
                                <th>操作</th>
                            </tr>
                            <tr v-show="list.length==0">
                                <td colspan="11" height="50" align="center" class="text-gray">暂无数据......</td>
                            </tr>
                            <tr v-else v-for="item in list" :class="{'warning':$index%2 == 1}">
                                <td><input type="checkbox"   /></td>
                                <td>{{($index+1)+(thisPage-1)*10}}</td>
                                <td>{{item.code}}</td>
                                <td>{{item.status_msg}}</td>
                                <td>{{item.granted_date}}</td>
                                <td>{{item.holder}}</td>
                                <td>{{item.holder_telephone}}</td>
                                <td>{{item.consume_date}}</td>
                                <td>{{item.consumer}}</td>
                                <td>{{item.consumer_telephone}}</td>
                                <td class="btns">
                                    <div class="text-right">
                                     <button class="btn btn-success btn-sm" @click="open(item.id)">详情</button>
                                    </div>
                                    <div class="text-left">
                                        <button
                                                class="btn btn-info btn-sm"
                                                v-show="item.status == 2 || item.status == 3 || item.status == 1"
                                                @click="getId(item.id)"
                                                data-toggle="modal" data-target="#myModal">作废</button>
                                    </div>
                                </td>
                            </tr>

                        </table>
                        <div class="row" v-show="list.length!=0">
                            <div class="col-md-12 ">
                               <!-- 'http://192.168.20.20/makesCanton/coupon/couponDownload?{main_id=' + get_url_param('id'),id}-->

                                <a href="javascript:void(0)" class='download'>
                                    <button class="btn btn-primary pull-right" @click="downLoad">下载券码</button>
                                </a>

                            </div>
                        </div>

                        <div class="page-footer" v-show="list.length!=0">
                            <button class="btn btn-default" @click="goPrePage" @click="goPre">上一页</button>
                            <button class="btn btn-default" @click="goNextPage" @click="goNext">下一页</button>
                            <input type="number"  v-model="searchPage" min="1" :max="countPage" placeholder="页码">
                            <button class="btn btn-info" @click="go">跳转</button>
                            <span>当前页：{{thisPage}}  </span>
                            <span>总页数：{{countPage}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--作废理由弹窗-->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">作废优惠券</h4>
                    </div>
                    <div class="modal-body container-fluid ">
                        <div class="row form-horizontal">
                            <div class="col-md-12 margin-bot-ten" >作废的原因:</div>
                            <textarea name="" rows="3"  v-model="remark" placeholder="" class="col-md-10 col-md-offset-1"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" @click="void()">确定</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModalA" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabelA">作废优惠券</h4>
                    </div>
                    <div class="modal-body container-fluid ">
                        <div class="row form-horizontal">
                            <div class="col-md-12 margin-bot-ten" >作废的原因:</div>
                            <textarea name="" rows="3"  v-model="remarkA" placeholder="" class="col-md-10 col-md-offset-1"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary"  @click="deleteData">确定</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 引入框架 -->
    <script src="../assets/js/vue.js"></script>
    <script src="../assets/js/jquery.js"></script>
    <script src="../../js/cookie.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/layer.js"></script>


    <!-- 检测登录状态 -->
    <script src='../../js/control.js'></script>
    <script src='../../js/serverUrl.js'></script>
    <script src='../js/navTpl.js'></script>
    <!-- 自定义js -->
    <script src="../js/index-info.js"></script>

    <!-- 检测登录状态 -->
   <!-- <script src="../../js/cookie.js"></script>
    <script src='../../js/control.js'></script>
    <script src='../../js/serverUrl.js'></script>-->

</body>
</html>