<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>优惠券</title>
    <!-- 引入的框架 -->
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/layer.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="../../font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/layer.css">
    <!-- 自定义 -->
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/index.css">

    <style>
        .nav-title div:nth-child(1){
            background-color: #23527c;
        }
        .form-group .text-left{
            text-align: left;
        }
        .modal-content{
            width: 750px;
        }
        #myModal .modal-footer{
            text-align: center;
        }
        /* table */
        .coupon-list{
            margin: 20px 10px;
        }
        .table{
            width: 95%;
            margin: 20px auto;

        }
        .coupon-content{
            width: 100%;
        }
        .table-header{
            width: 95%;
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="coupon">
        <!-- 顶部区域 -->
        <div class="container-fluid header-fluid-top">
            <div class="row">
                <div class="container header-top">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <a href="#">
                                <img src="../images/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 导航 -->
        <div class="navbar navbar-inverse nav-fluid-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand hidden-sm" href="javascript:"><福克斯德></福克斯德></a>
                </div>
                <div class="navbar-collapse collapse" role="navigation">
                    <ul class="nav navbar-nav " v-cloak>
                        <nav-component></nav-component>
                    </ul>
                    <log-component></log-component>
                </div>
            </div>
        </div>

        <div class="coupon-content">
            <div class="coupon-nav container-fluid">
                <h3 class="bg-info">操作</h3>
                <div class="row">
                    <div class="col-md-2">
                        <select class="form-control" v-model="sel" @change="selected(sel)">
                            <option value="">所有</option>
                            <option value="1">制作</option>
                            <option value="2">发放</option>
                            <option value="3">完成</option>
                            <option value="4">失效</option>
                            <option value="5">作废</option>
                        </select>
                    </div>
                  <!--  <div class="col-md-5 form-horizontal">
                        <label class="control-label col-md-3">输入优惠券号</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control">
                        </div>
                    </div>-->
                    <div class="col-md-3">
                        <button class="btn btn-default" data-toggle="modal" data-target="#myModal">发行</button>
                    </div>

                </div>
            </div>
            <div class="coupon-list">
                <h3 class="table-header">新发行的优惠券</h3>
                <table class="table table-bordered " >
                   <tr>
                       <th >序号</th>
                       <th>优惠券名称</th>
                       <th>类型</th>
                       <th>面值</th>
                       <th>价格</th>
                       <th>发行数量</th>
                       <th>有效期限</th>
                       <th>状态</th>
                       <th>操作</th>
                   </tr>
                    <tr v-show="list.length==0">
                        <td colspan="9" align="center" class="text-gray">暂无数据.....</td>
                    </tr>
                    <tr v-else v-for="item in list" :class="{'bg-info':$index%2 == 0}">
                        <td v-cloak>{{$index+1}}</td>
                        <td v-cloak>{{item.name}}</td>
                        <td v-cloak>{{item.type == "1" ? "现金券":"折扣券"}}</td>
                        <td v-cloak>{{item.denomination}}</td>
                        <td v-cloak>{{item.price}}</td>
                        <td v-cloak>{{item.issuant_amount}}</td>
                        <td v-cloak>{{item.validity_begin}}~{{item.validity_end}}</td>
                        <td v-cloak>
                           <!-- <span v-if="item.issuant_status == '5'">已作废</span>
                            <span v-if="item.issuant_status == '1'">发行</span>
                            <span v-if="item.issuant_status == '2'">准备</span>-->
                            {{item.issuant_status_msg}}
                        </td>
                        <td>
                            <button class="btn btn-success"   @click="publish(item.id)">详情</button>
                           <!-- <button class="btn btn-danger " v-if="item.issuant_status == '2'" @click="deleteData(item.id)">作废</button>
                            <button class="btn btn-default"  v-if="item.issuant_status == '5'">已作废</button>
                            <button class="btn btn-info" v-if="item.issuant_status == '1'" @click="issue(item.id)">发行</button>
                            <button class="btn btn-danger " v-if="item.issuant_status == '1'" @click="void(item.id)">删除</button>-->
                        </td>

                    </tr>

                </table>
                <div class="page-footer" v-show="count_page!=0">
                    <button class="btn btn-default" @click="goPre">上一页</button>
                    <button class="btn btn-default" @click="goNext">下一页</button>
                    <input type="number" v-model="searchPage" min="1" :max="count_page" placeholder="页码">
                    <button class="btn btn-default" @click="go">跳转</button>
                    <span v-cloak>当前页：{{page}}  </span>
                    <span v-cloak>总页数：{{count_page}}</span>
                </div>
            </div>
            <!-- 创建表格 -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">发行优惠券</h4>
                        </div>
                        <div class="modal-body container-fluid ">
                            <div class="row form-horizontal">
                                <div class="form-group text-right">
                                    <label class="col-sm-2 col-md-2 col-lg-2 control-label">优惠券名称 <i class="red">*</i></label>
                                    <div class="col-sm-4 col-md-4 col-lg-4 ">
                                        <div class="bootstrap-tagsinput height">
                                            <input type="text" class="form-control ft-14" v-model="tableInfo.name" placeholder="请输入优惠券名称">
                                        </div>
                                    </div>
                                    <label class="col-sm-2 col-md-2 col-lg-2 control-label">优惠券类型 <i class="red">*</i></label>
                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                        <select v-model="tableInfo.coupontype" class="select pull-left">
                                            <option selected>现金券</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group text-right col-md-12">
                                    <label class="col-sm-2 col-md-2 col-lg-2 control-label">最低消费<i class="red">*</i></label>
                                    <div class="col-sm-4 col-md-4 col-lg-4 ">
                                        <div class="bootstrap-tagsinput height">
                                            <input type="number" class="form-control ft-14" v-model="tableInfo.minConsume" placeholder="请输入金额">
                                        </div>
                                    </div>
                                    <label class="col-sm-2 col-md-2 col-lg-2 control-label">面值<i class="red">*</i></label>
                                    <div class="col-sm-4 col-md-4 col-lg-4 ">
                                        <div class="bootstrap-tagsinput height">
                                            <input type="number" class="form-control ft-14" v-model="tableInfo.faceValue" placeholder="请输入面值">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-right col-md-12">
                                    <label class="col-sm-2 col-md-2 col-lg-2 control-label">预发数量<i class="red">*</i></label>
                                    <div class="col-sm-4 col-md-4 col-lg-4 ">
                                        <div class="bootstrap-tagsinput height">
                                            <input type="number" class="form-control ft-14" v-model="tableInfo.preNumber" placeholder="请输入预发数量">
                                        </div>
                                    </div>
                                    <label class="col-sm-2 col-md-2 col-lg-2 control-label">价格<i class="red">*</i></label>
                                    <div class="col-sm-4 col-md-4 col-lg-4 ">
                                        <div class="bootstrap-tagsinput height">
                                            <input type="number" class="form-control ft-14" v-model="tableInfo.price" placeholder="请输入价格">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-right col-md-12">
                                    <label class="col-sm-2 col-md-2 col-lg-2 control-label">单次使用<i class="red">*</i></label>
                                    <div class="col-sm-4 col-md-4 col-lg-4 ">
                                        <div class="bootstrap-tagsinput height">
                                            <input type="number" class="form-control ft-14" v-model="tableInfo.singleNumber" value="1" placeholder="请输入单次使用数量">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 red text-left">默认为1,0代表无限制</div>
                                </div>
                                <div class="form-group text-right col-md-12">
                                    <label class="col-sm-2 col-md-2 col-lg-2 control-label">有效期限<i class="red">*</i></label>
                                    <div class="col-sm-4 col-md-4 col-lg-4 ">
                                        <div class="bootstrap-tagsinput height">
                                            <input size="16" v-model="tableInfo.startDate" class="form-control date date1" id="date1" readonly type="text" placeholder=""/>
                                        </div>
                                    </div>
                                   <div class="col-sm-1 col-md-1 control-label">至</div>
                                    <div class="col-sm-4 col-md-4 col-lg-4 ">
                                        <div class="bootstrap-tagsinput height">
                                            <input size="16" v-model="tableInfo.endDate" class="form-control date date2" id="date2" readonly type="text" placeholder=""/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-right col-md-12">
                                    <label class="col-sm-2 col-md-2 col-lg-2 control-label">说明</label>
                                    <div class="col-sm-10 col-md-10 col-lg-10 ">
                                        <textarea  v-model="tableInfo.description" name=""  class="col-sm-12 col-md-12 col-lg-12" ></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" @click="upData">发放</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </div>
            </div>

    </div>
    <!-- 引入框架 -->
    <script src="../assets/js/vue.js"></script>
    <script src="../assets/js/jquery.js"></script>
        <script src="../../js/cookie.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../assets/js/layer.js"></script>


    <!-- 检测登录状态 -->
    <script src='../../js/control.js'></script>
    <script src='../../js/serverUrl.js'></script>
    <script src='../js/navTpl.js'></script>
        <!-- 自定义js -->
    <script src="../js/index.js"></script>
</body>
</html>