<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <title>优惠券</title>
    <!-- 引入的框架 -->
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/layer.css">
    <!-- 自定义 -->
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../css/index.css">
    <style>
        .nav-title div:nth-child(1){
            background-color: #23527c;
        }
        .form-group .text-left{
            text-align: left;
        }
        #myModal .modal-footer{
            text-align: center;
        }
        .wraper{
            width: 1200px;
            margin: 0 auto;
            line-height: 3rem;
            border: 1px solid #CCCCCC;
            margin-bottom: 20px;
        }
        .wraper-footer{
            border-top: 1px solid #ccc;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .bg-white{
            background-color: #fff;
        }
        .coupon-content{
            width: 98%;
        }
        .table{
            width: 90%;
            margin: 0 auto;
        }
        .table-header{
            padding: 20px 20px;
        }
    </style>
</head>
<body>


    <div class="coupon">
        <!-- 顶部区域 -->
        <div class="container-fluid header-fluid-top">
            <div class="row">
                <div class="container header-top">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <a href="#">
                                <img src="../images/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 导航 -->
        <div class="navbar navbar-inverse nav-fluid-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand hidden-sm" href="javascript:"><福克斯德></福克斯德></a>
                </div>
                <div class="navbar-collapse collapse" role="navigation">
                    <ul class="nav navbar-nav " v-cloak>
                        <nav-component></nav-component>
                    </ul>
                    <log-component></log-component>
                </div>
            </div>
        </div>

        <div class="coupon-content">
            <div class="wraper">
                <h3 class="bg-primary">优惠券详情</h3>
                <div class="row">
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">优惠券名称</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 ">{{batchList.name}}</div>
                    </div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">优惠券类型</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 ">{{batchList.type_msg}}</div>
                    </div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">状态</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 ">{{batchList.issuant_status_msg}}</div>
                    </div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">最低消费金额</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 ">{{batchList.min_amount}}</div>
                    </div>
                    <div class="col-md-12">
                        <label class="col-sm-2 col-md-2 col-lg-2 text-right">数量</label>
                        <div class="col-sm-10 col-md-10 col-lg-10 ">{{batchList.issuant_amount}}</div>
                    </div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">面值</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 ">{{batchList.denomination}}</div>
                    </div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">价格</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 ">{{batchList.price}}</div>
                    </div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">单次使用</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 ">{{batchList.restriction_amount}}</div>
                    </div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">有效期限</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 ">{{batchList.validity_begin}}至{{batchList.validity_end}}止</div>
                    </div>
                    <div class="col-md-12 ">
                        <label class="col-sm-2 col-md-2 col-lg-2 text-right">备注说明</label>
                        <div class="col-sm-10 col-md-10 col-lg-10 ">{{batchList.remark}}</div>
                    </div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">发行人</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 ">{{batchList.creator_id_msg}}</div>
                    </div>
                    <div class="col-md-6 ">
                        <label class="col-sm-4 col-md-4 col-lg-4 text-right">发行时间</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 ">{{batchList.created_time}}</div>
                    </div>
                </div>
                <div class="wraper-footer text-center">
                    <button class="btn btn-primary">作废</button>
                    <button class="btn btn-default" @click="goBack">返回</button>
                </div>
            </div>
            <div class="coupon-list bg-white">
                <div class="row table-header">
                        <div class="col-md-1 "><span class="form-control" style="border: none">优惠券的详情 </span></div>
                        <div class="col-md-2">
                            <select class=" form-control ">
                                <option value="">所有</option>
                                <option value="1">发行</option>
                                <option value="2">准备</option>
                                <option value="3">已发放</option>
                                <option value="4">已使用</option>
                                <option value="5">审核通过</option>
                                <option value="6">审核不通过</option>
                                <option value="7">作废</option>
                            </select>
                        </div>
                          <div class="col-md-5 form-horizontal">
                              <label class="control-label col-md-3">输入优惠券号</label>
                              <div class="col-md-9">
                                  <input type="text" class="form-control">
                              </div>
                          </div>
                        <div class="col-md-3">
                            <button class="btn btn-default" >搜索</button>

                        </div>

                    </div>

                <table class="table table-bordered">
                    <tr>
                       <th ><input type="checkbox" v-model="allChecked"> 全选</th>
                        <th>序号</th>
                       <th>优惠券码</th>
                       <th>状态</th>
                       <th>发放日期</th>
                       <th>登记人</th>
                        <th>登记人电话</th>
                       <th>使用日期</th>
                       <th>使用人</th>
                       <th>使用人电话</th>
                        <th>操作</th>
                    </tr>
                    <tr v-for="item in list">
                        <td><input type="checkbox" v-model="selectedArr"  /></td>
                        <td>{{($index+1)+(thisPage-1)*10}}</td>
                        <td>{{item.code}}</td>
                        <td>{{item.status_msg}}</td>
                        <td>{{item.created_time}}</td>
                        <td>{{item.holder}}</td>
                        <td>{{item.holder_telephone}}</td>
                        <td>{{item.granted_date}}</td>
                        <td>{{item.consumer}}</td>
                        <td>{{item.consumer_telephone}}</td>
                        <td class="btns">
                            <button class="btn btn-success" @click="open(item.id)">详情</button>
                            <button class="btn btn-default" v-show="item.status=='6'" @click="open(item.id)">已{{item.status_msg}}</button>

                            <button class="btn btn-danger" v-else @click="void(item.id)">作废</button>

                        </td>
                    </tr>

                </table>
                <div class="row">
                    <div class="col-md-12 ">
                        <button class="btn btn-info pull-right" @click="downLoad">下载券码</button>
                    </div>
                </div>

                <div class="page-footer">
                    <button class="btn btn-default" @click="goPrePage" @click="goPre">上一页</button>
                    <button class="btn btn-default" @click="goNextPage" @click="goNext">下一页</button>
                    <input type="number"  v-model="searchPage">
                    <button class="btn btn-default" @click="go">跳转</button>
                    <span>当前页：第{{thisPage}}页，</span>
                    <span>共{{countPage}}页</span>
                </div>
            </div>
        </div>
    </div>


    <!-- 引入框架 -->
    <script src="../assets/js/vue.js"></script>
    <script src="../assets/js/jquery.js"></script>
    <script src="../../js/cookie.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/layer.js"></script>


    <!-- 检测登录状态 -->
    <script src='../../js/control.js'></script>
    <script src='../../js/serverUrl.js'></script>
    <script src='../../js/navTpl.js'></script>
    <!-- 自定义js -->
    <script src="../js/index-info.js"></script>
    <!-- 检测登录状态 -->
   <!-- <script src="../../js/cookie.js"></script>
    <script src='../../js/control.js'></script>
    <script src='../../js/serverUrl.js'></script>-->

</body>
</html>